/* Ofertas */
.special-offer-card {
    background: linear-gradient(135deg, #9B67CB, #F38A7A);
    box-shadow: 0 8px 20px grey;
    transition: transform .2s ease, box-shadow .2s ease;
    max-height: 150px; 
}

.special-offer-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.25);
}

.offer-text h2 {
    font-size: 25px;
}

.offer-img img {
    border: 3px solid rgba(255,255,255,0.7);
}
