{% extends "base/base.html" %}
{% load static %}

{% block content %}

    {% for discounted_product in discounted_products %}
        
        <div class="discounted_product">

            {% if discounted_product.image and discounted_product.image.url %}
                <img src="{{ discounted_product.image.url }}" alt="Imagen de {{ discounted_product.name }}">
            {% else %}
                <img src="{% static 'img/default/default01.jpg' %}" alt="Imagen de {{ discounted_product.name }}">
            {% endif %}

            
        
            <h2>{{discounted_product.name}}</h2>
            <p>{{discounted_product.description}}</p>
            <p>{{discounted_product.price}}</p>
            <p>{{discounted_product.final_price}}</p>
        </div>
        
    {% endfor %}

{% endblock content %}